streamlit
pandas
geopandas
shapely
geopy
pydeck
openrouteservice
requests
matplotlib
folium
spacy
scikit-learn
imbalanced-learn
es_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.5.0/es_core_news_sm-3.5.0.tar.gz
